.App {
  text-align: center;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.active{
  color: brown;
}

.sidebar-container{
  border: 1px solid red;
  width: 15%;
}

.content-container{
  border: 1px solid green;
  width: 85%;
}
